
<app-navbar [hero]="false"></app-navbar>


<section class="resource sr">
    <div class="flex flex-wrap items-center justify-center HR
    ">
        <h2 class="heading font-bold">Resource Library</h2>
    </div>

    <div class="portfolio-container">

        <div class="portfolio-box ">
            <h4 class="portfolio-heading">Sowing Techniques</h4>
            <img src="/assets/25803500_1621011873.jpg" alt="PROJECT-IMG" border="0" />

            <div class="portfolio-layer">

                <iframe width="407" height="300" src="https://www.youtube.com/embed/xIe2EjQNols?rel=0" frameborder="0"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Essential tools for sowing</h4>
            <img src="/assets/Best-Hand-Operated-Seeding-Machines-in-India4.jpg" alt="PROJECT-IMG"
                border="0" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/UiLixTOSo6Y?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Farm management</h4>
            <img src="/assets/Farm-Management.png" alt="PROJECT-IMG" />
            <div class="portfolio-layer">

                <iframe width="407" height="300" src="https://www.youtube.com/embed/L1qZ_-cBdgM?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Seasonal plant guide</h4>
            <img src="/assets/iStock-1179642020-1024x683.jpg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/exfgg_2WCts?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Crop care & maintainance</h4>
            <img src="/assets/insects-on-a-field.jpg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/juzHupSvWcw?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Livestock management</h4>
            <img src="/assets/tab-04.jpg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/uvN8HCs8low?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

        <div class="portfolio-box">
            <h4 class="portfolio-heading">Irrigation Techniques</h4>
            <img src="/assets/Methods-of-Irrigation.jpg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/Z9HAy9EYKKs?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

     <div class="portfolio-box">
            <h4 class="portfolio-heading">Organic farming</h4>
            <img src="/assets/organic-farming-definition-examples-.jpg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/iPeBBw5WxZo?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div> 

       <div class="portfolio-box">
            <h4 class="portfolio-heading">Climate smart Farming</h4>
            <img src="/assets/Things-You-Should-Know-About-Smart-Agriculture.jpeg" alt="PROJECT-IMG" />
            <div class="portfolio-layer">
                <iframe width="407" height="300" src="https://www.youtube.com/embed/g0wkT3mf80U?rel=0"
                    frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</section>

<app-footer></app-footer>